VITE_PRIVY_APP_ID=
VITE_ZTIZEN_SERVICE_URL=http://localhost:5502
VITE_PRODUCT_API_URL=http://localhost:5503
VITE_FACENET_URL=http://localhost:5000
VITE_PORT=5501
VITE_RPC_SEPOLIA=https://eth-sepolia.g.alchemy.com/v2/<YOUR_ALCHEMY_KEY>
VITE_RPC_ARB_SEPOLIA=https://arb-sepolia.g.alchemy.com/v2/<YOUR_ALCHEMY_KEY>
